select{
    border: none;
    padding-left: 10px;
    border-radius: 5px;
    background-color: hsl(0, 0%, 100%);
    cursor: pointer;
    width: 200px;
    height: 50px;
}

select:focus{
    outline: none;
}  

select::-ms-expand{
    display: none;
}


